@import "../stylesheets/utilities/mixins.scss";
@import "../stylesheets/utilities/typography.scss";

//RESET

* {
  font-family: var(--font-primary);
  @include font(20);
}

.app-container {
  max-width: var(--max-content-width);
  margin: 0 auto;

  @include to-desktop() {
    padding: 0 2rem;
  }
}
