@import "../stylesheets/utilities/mixins.scss";
@import "../stylesheets/utilities/variables.scss";

.game {
  @include flex($dir: column, $ali: center);

  &-board {
    @include flex($ali: center, $jus: center, $wrap: wrap);
    margin-bottom: 1.5rem;

    &__card {
      @include flex($dir: column, $jus: center);
      min-width: 10rem;
      height: 15rem;
      border-radius: 10px;
      margin: 1rem;
      cursor: pointer;
      box-shadow: 7px 7px 8px 5px grey;
      opacity: 0.9;

      &.card-up {
        opacity: 1;
      }

      &--title {
        @include font(28);
        font-family: var(--font-secondary);
        text-align: center;
        padding: 1rem;
        color: var(--color-white);
      }

      &--icon {
        color: white;
        text-align: center;
      }

      &.education {
        background-color: var(--color-education);
      }
      &.experience {
        background-color: var(--color-experience);
      }
      &.languages {
        background-color: var(--color-languages);
      }
      &.projects {
        background-color: var(--color-projects);
      }
      &.skills {
        background-color: var(--color-skills);
      }
      &.bonus {
        background-color: var(--color-locked);
        p {
          color: var(--color-black);
        }
      }
    }
  }
}
