@import "../stylesheets/utilities/mixins.scss";
@import "../stylesheets/utilities/variables.scss";

.footer {
  @include flex($dir: column, $ali: center, $jus: center);
  padding-top: 2.5rem;

  &__info {
    @include flex($dir: column, $ali: center, $jus: center);
    margin-bottom: 1rem;

    &--text {
      border-top: 2px solid var(-color-primary);
      max-width: 70rem;
      text-align: center;
    }

    &--button {
      font-family: var(--font-secondary);
      text-decoration: none;
      text-align: center;
      @include font(18);
      width: 10rem;
      height: 2rem;
      padding: 0.4rem 0;
      background-color: var(--color-primary);
      color: var(--color-white);
      border-radius: 0.8rem;

      &:hover {
        text-decoration: none;
        background-color: orange;
      }
    }
  }
}
